ion-header
  ion-toolbar
    ion-buttons(slot='secondary')
      ion-button
        ion-icon(slot='icon-only', name='refresh')
    ion-buttons(slot='primary')
      ion-button([routerLink]="['/search-list']", [queryParams]="querySearch")
        ion-icon(slot='icon-only', name='search')
    ion-title Search
ion-content
  ion-button((click)="logStorage()") Log
  ion-list
    ion-list-header
      ion-label Free Text Search
    ion-item
      ion-input(placeholder="Search card body...", [(ngModel)]="textSearch", (input)='formChange()')
    ion-list-header
      ion-label Category Filters
    ion-item
      ion-label Set
      ionic-selectable([(ngModel)]='port', [items]='sets', itemValueField='code', itemTextField='name', [isMultiple]='true', [canSearch]='true', [hasVirtualScroll]="true", (onChange)='formChange()')

