.ms {
  background: #BAB0A8;
  border-radius: 100%;
  padding: 4px;
  box-shadow: -2px 2px 0 0 #151514;
}

.ms-w {
  background: #FCFCC1;
}
.ms-u {
  background: #67C1F5;
}
.ms-b {
  background: #848484;
}
.ms-r {
  background: #F85555;
}
.ms-g {
  background: #26B569;
}
