ion-header
  ion-toolbar
    ion-buttons(slot='secondary')
      ion-button([routerLink]="['/tabs/tab1']", routerDirection="root")
        ion-icon(slot='icon-only', name='arrow-round-back')
    ion-title Search
ion-content
  ion-list
    app-mtg-card-item(*ngFor="let card of cards | orderBy:'convertedManaCost'; let i = index", [card]="card")
